html,
body {
  background: url(header.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.container{
  margin: auto;
}
hr{
  border: 4px solid #F05F44;
  max-width: 100px;
  opacity: 100%;
  margin: auto;
}
h1{
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}
.buffer {
  height: 15rem;
}
#buttons{
  text-transform: uppercase;
  background-color: #F05F44;
  border: #F05F44;
  border-radius: 200px;
}

#buttons:hover{
  background-color:red;
}